<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Insert title here</title>
</head>
<body>
	<!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-text mx-3" style="font-size: 35px;">EGV </div><sup>erp</sup>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    <i class="fas fa-id-card"></i>
                    <span>Mypage</span>
                </a>
            </li>



            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading" style="color: white; font-size: 17px;">
                전자결재
            </div>

            <!-- Nav Item - 기안서 작성 -->
            <li class="nav-item" style="height: 40px;">
                <a class="nav-link collapsed" href="/sign/template">
                    <i class="fas fa-file-alt"></i>
                    <span>기안서 작성</span>
                </a>
            </li>

            <!-- Nav Item - 도장/서명 설정 -->
            <li class="nav-item" style="height: 40px;">
                <a class="nav-link collapsed" href="/sign/stamp">
                    <i class="fas fa-check-circle"></i>
                    <span>도장/서명 설정</span>
                </a>
            </li>

            <!-- Nav Item - 상신함 -->
            <li class="nav-item" style="margin-bottom : -17px">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMovie"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-paper-plane"></i>
                    <span>상신함</span>
                </a>
                <div id="collapseMovie" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/sign/sent/progresssign">진행중인 문서</a>
                        <a class="collapse-item" href="/sign/sent/completedsign">완료 문서</a>
                        <a class="collapse-item" href="/sign/sent/rejectsign">반려 문서</a>
                        <a class="collapse-item" href="/sign/sent/savesign">임시 저장함</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - 수신함 -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSign"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-inbox"></i>
                    <span>수신함</span>
                </a>
                <div id="collapseSign" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/sign/received/watingsign">결재대기</a>
                        <a class="collapse-item" href="/sign/received/signhistory">결재내역</a>
                        <a class="collapse-item" href="/sign/received/referencesign">수신참조</a>
                    </div>
                </div>
            </li>



            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading" style="color: white; font-size: 17px;">
                인사관리
            </div>

            <!-- Nav Item - 사원관리 -->           
            <li class="nav-item" style="margin-bottom : -17px">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEmp"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-dollar-sign"></i>
                    <span>사원관리</span>
                </a>
                <div id="collapseEmp" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/emp/list">재직자 관리</a>
                        <a class="collapse-item" href="/emp/outEmpList">퇴직자 관리</a>
                        <a class="collapse-item" href="/emp/empTestV1">사원관리 테스트</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - 부서조회 -->
            <li class="nav-item" style="height: 40px;">
                <a class="nav-link collapsed" href="/emp/dept">
                    <i class="fas fa-users"></i>
                    <span>부서관리</span>
                </a>
            </li>

            <!-- Nav Item - 직위직급 -->
            <li class="nav-item" style="height: 40px;">
                <a class="nav-link collapsed" href="/emp/rank">
                    <i class="fas fa-star"></i>
                    <span>직위직급</span>
                </a>
            </li>

            <!-- Nav Item - 근무근태 관리 -->
            <li class="nav-item" style="height: 40px;">
                <a class="nav-link collapsed" href="#">
                    <i class="fas fa-calendar-check"></i>
                    <span>근무근태 관리</span>
                </a>
            </li>

            <!-- Nav Item - 알바 관리 -->
            <li class="nav-item" style="height: 40px;">
                <a class="nav-link collapsed" href="#">
                    <i class="fas fa-calendar-alt"></i>
                    <span>알바 관리</span>
                </a>
            </li>

            <!-- Nav Item - 급여 관리 -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCM"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-dollar-sign"></i>
                    <span>급여 관리</span>
                </a>
                <div id="collapseCM" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/emp/salary/salary">급여조회</a>
                        <a class="collapse-item" href="/emp/salary/severancePay">퇴직금조회</a>
                        <a class="collapse-item" href="/emp/salary/salary">급여통장관리</a>
                    </div>
                </div>
            </li>



            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading" style="color: white; font-size: 17px;">
                영화관 관리
            </div>

            <!-- Nav Item - 영화 관리 -->
            <li class="nav-item" style="height: 40px;">
                <a class="nav-link collapsed" href="/theater/movie/list">
                    <i class="fas fa-video"></i>
                    <span>영화관리</span>
                </a>
            </li>

            <!-- Nav Item - 개봉스케줄 관리 -->
            <li class="nav-item" style="height: 40px;">
                <a class="nav-link collapsed" href="#">
                    <i class="fas fa-film"></i>
                    <span>개봉스케줄 관리</span>
                </a>
            </li>

            <!-- Nav Item - 상영스케줄 관리 -->
            <li class="nav-item" style="height: 40px;">
                <a class="nav-link collapsed" href="#">
                    <i class="fas fa-tape"></i>
                    <span>상영스케줄 관리</span>
                </a>
            </li>

            <!-- Nav Item - 이벤트 관리 -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="/theater/event/list">
                    <i class="fas fa-ticket-alt"></i>
                    <span>이벤트 관리</span>
                </a>
            </li>



            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading" style="color: white; font-size: 17px;">
                커뮤니티
            </div>

            <!-- Nav Item - 공문게시판 -->
            <li class="nav-item" style="height: 40px;">
                <a class="nav-link collapsed" href="#">
                    <i class="fas fa-chalkboard"></i>
                    <span>공문게시판</span>
                </a>
            </li>

            <!-- Nav Item - 공지게시판 -->
            <li class="nav-item" style="height: 40px;">
                <a class="nav-link collapsed" href="#">
                    <i class="fas fa-flag"></i>
                    <span>공지게시판</span>
                </a>
            </li>

            <!-- Nav Item - 익명게시판 -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#">
                    <i class="fas fa-comments"></i>
                    <span>익명게시판</span>
                </a>
            </li>


            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <!-- <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div> -->
            

        </ul>
        <!-- End of Sidebar -->
</body>
</html>