<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>EGV</title>

<!-- Custom fonts for this template-->
<link href="/css/all.min.css" rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">

<link href="/css/dataTables.bootstrap4.min.css" rel="stylesheet">

<script src="https://kit.fontawesome.com/56b47e1b72.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/locales-all.min.js"></script>

    <!-- Date : 2021/11/30
	   Writer : Hansoo Lee
		fullcalender에 function 추가
		클릭시 이벤트 삭제도 가능하게 만듬
	-->
     <script>
     /*   Date : 2021/12/01
 	    Writer : Hansoo Lee
 	    FullCalendar 제어용 함수
 	      이벤트 클릭 리스너에 에이작스로 DB삭제 코드와 화면삭제 메소드 넣음
 	      Ajax로 Json문자가 반환되어 alert창 띄움
 	 */
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          locale: 'ko',
           eventClick : function( Info ) { 
        	   if(confirm("진짜 삭제할 꺼야?")){
        		   $.ajax({
        				url: "/emp/parttime/delete",
        				type: "post",
        				data: {code : Info.event.id},
        				success: function(data){
        					alert(data);
        				},
        				error: function(xhr){
        					console.log(xhr);
        				}
        			});
        	   Info.event.remove();
        	  }       	   
           },
           
           
       /*  Date : 2021/12/01
       	 Writer : Hansoo Lee
         FullCalendar 이벤트 추가 함수
       	 for in 반복문으로 Ajax로 가져온 데이터 배열을 분해하여 화면에 적용시켜 준다. 
         FullCalendar Event Parsing 페이지(https://fullcalendar.io/docs/event-parsing)에 따르면
         end 항목은 exclusive 하므로 end날짜에 하루를 더하여 화면에 새로 파싱해 주었다.
        */
        events: [
    		$.ajax({
    			url: "/emp/parttime/parttimeScheduleList",
    			success: function(data){
    				let color = ['black','blue','DarkGray','Brown','Tomato','Olive','LightSlateGray']; 
    				for (let index in data){
    					
    					let plusDay = new Date(data[index]['end']);
    					if (data[index]['end'] != data[index]['start'] ){
    					plusDay = new Date(data[index]['end']);
    					plusDay.setDate(plusDay.getDate() + 1 );
    					}
    					
    				calendar.addEvent({
    					id : data[index]['code'],
    					title : data[index]['code'] + ' : '+ data[index]['title'],
    					start : data[index]['start'],
    					end : plusDay,
    					allDay : true,
    					backgroundColor : color[Math.floor(Math.random()*7)]
    				})
    				}
    			},
    			error: function(xhr){
    				console.log(xhr);
    			}
    		})]
        }); 
        calendar.render();
      });

    </script>
	<script>
		const successMessage = "[[${ successMessage }]]";	
		
		if(successMessage){
			alert(successMessage);
		}
	</script>
</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<div id="sidebarMain" class="bg-gradient-info"
			th:include="common/aside.html"></div>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex">
						
			<!-- Main Content -->
			<div id="content">

				<div th:include="common/header.html"></div>

				<!-- Begin Page Content -->
				<div class="container-fluid">
					<h1 align="Center">아르바이트 일정 등록</h1>
					
				<!-- 사원등록 trigger modal 버튼 -->
				<button type="button" id="registSchedule" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#registEmp">
				  아르바이트 스케줄 등록
				</button>
					<!-- DataTales -->
					<div class="card mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary"> 아르바이트 사원목록 </h6>
						</div>
					<div class="card-body">
						<div id='calendar'><br></div>
							<div class="table-responsive">
								<table class="table table-bordered table-hover" id="dataTable" cellspacing="0">
									<thead>
										<tr>
											<th>근무코드</th>
											<th>내용</th>
											<th>시작날짜</th>
											<th>종료날짜</th>
										</tr>
									</thead>
									<tbody>
 	 								<tr th:class="empTable" th:each="parttimer : ${parttimer}">
 										<td th:text="${ parttimer.code }"></td>
										<td th:text="${ parttimer.title }"></td>
										<td th:text="${ parttimer.start }"></td>
										<td th:text="${ parttimer.end }"></td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				<!-- End of Main Content -->
				<!-- Footer -->
				<div th:include="common/footer.html"></div>
				<!-- End of Footer -->
			</div>
		</div>
		</div>
		<!-- End of Content Wrapper -->
	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready
					to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="login.html">Logout</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Date : 2021/11/22
	   Writer : Hansoo Lee
		사원등록 Modal
		유효성 검사 추가
	-->
	<div class="modal fade" id="registEmp" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title" id="modalLabel">아르바이트 스케줄 등록</h4>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">X</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form action="/emp/registParttime" id="parttimeScheduler" class="needs-validation" method="post" novalidate>
		      	<table class="table table-striped table-bordered text-right col-12">
					<tbody>
						<tr>
							<td class="col-1">이름</td>
							<td class="col-3">
							<select class="form-control" th:id="name" name="empCode" aria-label="name">
							</select>
							</td>
 							<td class="col-1">근무<br>타입</td>
							<td class="col-3">
							<select class="form-control" name="parttimeDivision" aria-label="parttimeDivision">
							  <option th:value="오픈">오픈</option>
							  <option th:value="마감">마감</option>
							</select>
							</td>
						</tr>
						<tr>
							<td class="col-1">시작날짜</td>
							<td class="col-3"><input class="form-control" id="startTime" type="date" name="start" aria-label="startTime" required></td>
							<td class="col-1">종료날짜</td>
							<td class="col-3"><input class="form-control" id="endTime" type="date" name="end" aria-label="endTime" required></td>
						</tr>
					</tbody>
				</table>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
		        <button type="submit" class="btn btn-primary">등록하기</button>
		      </div>
			</form>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- Bootstrap core JavaScript-->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="/js/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>

	<!-- Page level plugins -->
	<script src="/js/jquery.dataTables.min.js"></script>
	<script src="/js/dataTables.bootstrap4.min.js"></script>

	<!-- Page level custom scripts -->
	<script src="/js/demo/datatables-demo.js"></script>

	<script>
    /* Date : 2021/11/30
     Writer : Hansoo Lee
     현재 존재하는 아르바이트생만 조회 및 선택
    */
	$(function(){
		$.ajax({
			url: "/emp/parttimerList",
			success: function(data){
				const $empPosition = $("#name");
				$empPosition.html("");
 				for (let index in data){
					$empPosition.append($("<option>").val(data[index].code).text(data[index].name));						
				}
			},
			error: function(xhr){
				console.log(xhr);
			}
		});
	});

    
   /* Date : 2021/12/01
    Writer : Hansoo Lee
    현재날짜 조합
   */
	$(function(){
	      let now = new Date();       // 현재시간 생성
       	  let year = now.getFullYear(); // 년도
       	  let month = now.getMonth() + 1;  // 월 (월은 +1)
       	  let date = now.getDate();  // 날짜
       	  if ( month < 10 ){         // 자리수 맞추기
       		  month = '0' + month;
       		  }
       	  if ( date < 10 ){
       		  date = '0' + date;
       		  }
       	  let nowDay = year + '-' + month + '-' + date;
       	$('input[name=start]').attr('min', nowDay)
	});	
	
   /* Date : 2021/12/01
    Writer : Hansoo Lee
    날짜 선택에 따라 date 활성화 제어
   */
	$(function(){
		   let $inputStartDate = $('input[name=start]');
		   let $inputEndDate = $('input[name=end]');
		   $inputStartDate.change(function() {
		   $inputEndDate.attr('min',$inputStartDate.val())
		      if ($inputStartDate.val() > $inputEndDate.val() ) {
		    	  $inputEndDate.val("");
		    	} 
		   })
	});	
	
	(function () {
		  'use strict'

		  // Fetch all the forms we want to apply custom Bootstrap validation styles to
		  var forms = document.querySelectorAll('.needs-validation')

		  // Loop over them and prevent submission
		  Array.prototype.slice.call(forms)
		    .forEach(function (form) {
		      form.addEventListener('submit', function (event) {
		        if (!form.checkValidity()) {
		          event.preventDefault()
		          event.stopPropagation()
		        }

		        form.classList.add('was-validated')
		      }, false)
		    })
		})()
</script>

</body>
</html>