<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Main page of theater management, displaying list of movies.">
	<meta name="author" content="UnSuk Song">
	<title>EGV: theater > movieDetails</title>
	<!-- Custom fonts for this template-->
	<link href="/css/all.min.css" rel="stylesheet" type="text/css">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">

	<!-- Custom styles for this template-->
	<link href="/css/sb-admin-2.min.css" rel="stylesheet">
	<link href="/css/dataTables.bootstrap4.min.css" rel="stylesheet">

	<!-- Custom styles for this template-->
	<script src="https://kit.fontawesome.com/56b47e1b72.js" crossorigin="anonymous"></script>
</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Aside Menu List -->
		<div id="sidebarMain" class="bg-gradient-info" th:include="common/aside.html"></div>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Header -->
				<div th:include="common/header.html"></div>

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">영화 상세 정보</h6>
						</div>
						<div class="card-body">

							<!-- 영화 정보 입력 폼 -->
							<form action="/theater/movie/modify" id="movie-info" method="post" enctype="multipart/form-data">

								<div class="form-row">

									<div class="form-group col-md-6 px-3">
										<div class="form-group" id="posterImgFrame">
											<div>
												<label class="form-label">현재 등록된 포스터 이미지</label>
											</div>
											<img id="posterImgArea" class="img-fluid" th:src="|/img/poster/${ movie.posterUuidName }|">
										</div>
										<div class="form-group">
											<div class="custom-file">
												<label for="posterImg">포스터 이미지 파일을 변경하려면 새로운 파일을 추가해 주세요.</label>
												<input type="file" class="form-control-file" id="posterImg"
													name="posterImg" onchange="fileValidityCheck(this)" accept="image/*">
											</div>
										</div>
									</div>

									<div class="form-group col-md-6 px-3">
										
										<div class="form-row">
											<div class="form-group col-md-2">
												<div class="form-group">
													<label for="movieCode" class="form-label">영화코드#</label>
													<input type="number" class="form-control" id="movieCode" name="movieCode" readonly
													th:value="${ movie.code }">
												</div>
											</div>
											<div class="form-group col-md-10">
												<div class="form-group">
													<label for="movieName" class="form-label">영화제목</label>
													<input type="text" class="form-control" id="movieName" name="movieName"
													th:value="${ movie.name }">
												</div>
											</div>
										</div>

										<div class="form-row">
											<div class="form-group col-md-6">
												<div class="form-group">
													<label for="openingDate" class="form-label">개봉일자</label>
													<input type="date" class="form-control" id="openingDate" name="openingDate"
													th:value="${ movie.openingDate }">
												</div>
											</div>
											<div class="form-group col-md-6">
												<div class="form-group">
													<label for="runningTime" class="form-label">러닝타임</label>
													<input type="number" class="form-control" id="runningTime" name="runningTime" value="120"
													th:value="${ movie.runningTime }">
												</div>
											</div>
										</div>

										<div class="form-row">
											<div class="form-group col-md-6">
												<div class="form-group">
													<label for="grade" class="form-label">등급</label>
													<select class="custom-select" id="grade" name="grade">
														<option value="전체" th:selected="${ movie.grade } == '전체'">전체</option>
														<option value="12세" th:selected="${ movie.grade } == '12세'">12세</option>
														<option value="15세" th:selected="${ movie.grade } == '15세'">15세</option>
														<option value="청불" th:selected="${ movie.grade } == '청불'">청불</option>
														<option value="제한" th:selected="${ movie.grade } == '제한'">제한</option>
													</select>
												</div>
											</div>
											<div class="form-group col-md-6">
												<div class="form-group">
													<label for="genre" class="form-label">장르</label>
													<select class="custom-select" id="genre" name="genre">
														<option value="액션" th:selected="${ movie.genre } == '액션'">액션</option>
														<option value="드라마" th:selected="${ movie.genre } == '드라마'">드라마</option>
														<option value="애니메이션" th:selected="${ movie.genre } == '애니메이션'">애니메이션</option>
														<option value="멜로/로맨스" th:selected="${ movie.genre } == '멜로/로맨스'">멜로/로맨스</option>
														<option value="스릴러" th:selected="${ movie.genre } == '스릴러'">스릴러</option>
														<option value="범죄" th:selected="${ movie.genre } == '범죄'">범죄</option>
														<option value="코미디" th:selected="${ movie.genre } == '코미디'">코미디</option>
														<option value="공포(호러)" th:selected="${ movie.genre } == '공포(호러)'">공포(호러)</option>
														<option value="미스터리" th:selected="${ movie.genre } == '미스터리'">미스터리</option>
														<option value="성인물(에로)" th:selected="${ movie.genre } == '성인물(에로)'">성인물(에로)</option>
														<option value="어드벤처" th:selected="${ movie.genre } == '어드벤처'">어드벤처</option>
														<option value="SF" th:selected="${ movie.genre } == 'SF'">SF</option>
														<option value="사극" th:selected="${ movie.genre } == '사극'">사극</option>
														<option value="전쟁" th:selected="${ movie.genre } == '전쟁'">전쟁</option>
														<option value="판타지" th:selected="${ movie.genre } == '판타지'">판타지</option>
														<option value="기타" th:selected="${ movie.genre } == '기타'">기타</option>
													</select>
												</div>
											</div>
										</div>

										<div class="form-group">
											<label for="distributor" class="form-label">배급사</label>
											<input type="text" class="form-control" id="distributor" name="distributor"
											 th:value="${ movie.distributor }">
										</div>

										<div class="form-row">
											<div class="form-group col-md-8">
												<div class="form-group">
													<label for="director" class="form-label">감독</label>
													<input type="text" class="form-control" id="director" name="director"
													th:value="${ movie.director }">
												</div>
											</div>
											<div class="form-group col-md-4">
												<div class="form-group">
													<label for="country" class="form-label">국가</label>
													<input type="text" class="form-control" id="country" name="country"
													th:value="${ movie.country }">
												</div>
											</div>
										</div>
										
										<div class="form-group">
											<label for="openingYn" class="form-label">상영여부</label>
											<select class="custom-select" id="openingYn" name="openingYn">
												<option value="Y" th:selected="${ movie.openingYn } == 'Y'">Y</option>
												<option value="N" th:selected="${ movie.openingYn } == 'N'">N</option>
											</select>
										</div>

									</div>
									
								</div>

							</form>
						</div>
						<div class="card-footer py-3">
							<button type="button" class="btn btn-secondary" th:onclick="history.back(-1)">목록으로</button>
							<button type="submit" class="btn btn-primary" form="movie-info">적용하기</button>
							<a th:href="@{/theater/movie/delete(code=${ movie.code })}">
								<button type="button" class="btn btn-danger">삭제하기</button>
							</a>
						</div>

					</div>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<div th:include="common/footer.html"></div>

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->


	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready
					to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="login.html">Logout</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript -->
	<script src="/js/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages -->
	<script src="/js/sb-admin-2.min.js"></script>

	<!-- Page level plugins -->

	<!-- Page level custom scripts -->
	<!-- 영화 수정 결과 출력 -->
	<script>
		const flashMessage = "[[${ flashMessage }]]";
		console.log(flashMessage);

		if (flashMessage) {
			alert(flashMessage);
		}
	</script>
	<!-- 이미지 미리보기 & 유효성 검사 -->
	<script>

		const $posterImgFrame = document.getElementById("posterImgFrame");

		$posterImgFrame.onclick = function () {
			document.getElementById("posterImg").click();
		}

		function fileValidityCheck(obj) {
			var pathPoint = obj.value.lastIndexOf('.');
			var filePoint = obj.value.substring(pathPoint + 1, obj.length);
			var fileType = filePoint.toLowerCase();

			if (fileType == 'jpg'
				|| fileType == 'gif'
				|| fileType == 'png'
				|| fileType == 'jpeg'
				|| fileType == 'bmp') {
				// valid file extension
				loadImg(obj);	// call the image preview function
			} else {
				// invalid file extension
				alert('[Error] 이미지 파일(jpg, gif, png, jpeg, bmp)만 업로드할 수 있습니다!');
				var parentObj = obj.parentNode;
				var node = parentObj.replaceChild(obj.cloneNode(true), obj);

				return false;
			}

			if (fileType == 'bmp') {
				var upload = confirm('bmp 파일은 Web 상에서 사용하기에 적절한 이미지 포맷이 아닙니다.\n그래도 해당 파일을 사용하시겠습니까?');
				if (!upload) {
					return false;
				}
			}

			function loadImg(value) {
				/* https://developer.mozilla.org/ko/docs/Web/API/FileReader 참고 (MDN 사이트 참고)*/
				if (value.files && value.files[0]) {			// value.files[0]는 파일 이름
					const reader = new FileReader();
					/*
						FileReader 객체는 웹 애플리케이션이 비동기적으로 데이터를 읽기 위하여 읽을 파일을 가리키는 File 혹은 Blob 객체를
						이용해 파일의 내용을(혹은 raw data버퍼로) 읽고 사용자의 컴퓨터에 저장하는 것을 가능하게 하는 것	
						Blob(Binary large object) : 파일류의 불변하는 미가공 데이터로 텍스트와 이진 데이터의 형태로 읽을 수 있음
					*/
					reader.readAsDataURL(value.files[0]);		// Base64방식으로 파일을 FileReader에 전달 (Base64로 인코딩한 것은 브라우저가 원래 데이터로 만들게 됨)

					// load 이벤트의 핸들러로 읽기 동작이 성공적으로 완료 되었을 때마다 발생한다.
					reader.onload = function (e) {				// load EventListener에 function 등록 (FileReader에서 전달 받은 파일을 다 읽으면 리스너에 등록한 function이 호출 됨)
						console.log(e.target.result);		// e.target.result는 인코딩한 결과로 img태그의 src로 사용할 수 있음
						document.getElementById("posterImgArea").src = e.target.result;
					}
				}
			}
		}
	</script>

</body>

</html>