<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Main page of theater management, displaying list of movies.">
	<meta name="author" content="UnSuk Song">
	<title>EGV: theater > scheduleScreeningRegist</title>
	<!-- Custom fonts for this template-->
	<link href="/css/all.min.css" rel="stylesheet" type="text/css">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">

	<!-- Custom styles for this template-->
	<link href="/css/sb-admin-2.min.css" rel="stylesheet">
	<link href="/css/dataTables.bootstrap4.min.css" rel="stylesheet">

	<!-- Custom styles for this template-->
	<script src="https://kit.fontawesome.com/56b47e1b72.js" crossorigin="anonymous"></script>
	
	<!-- FullCalendar style for this template -->
	<link href='/css/fullCalendar.Scheduler.main.css' rel='stylesheet' />
	<script src='/js/fullCalendar.Scheduler.main.js'></script>
</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Aside Menu List -->
		<div id="sidebarMain" class="bg-gradient-info" th:include="common/aside.html"></div>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Header -->
				<div th:include="common/header.html"></div>

				<!-- Begin Page Content -->
				<div class="container-fluid">
				
					<!-- 스케줄러 Card -->
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">신규 상영 스케줄 등록</h6>
						</div>
						<div class="card-body">
							
							<!-- FullCalendar Scheduler(조회만 가능) -->
							<div id='calendar'></div>
							<br>
							
							<form action="/theater/schedule/screening/regist" class="needs-validation" id="schedule-info" method="post" novalidate>
								
								<table class="table table-bordered text-right table-responsive-md">
									<tbody>
										<tr>
											<td class="col-md-3">영화</td>
											<td class="col-md-9" colspan="3">
												<div class="input-group">
													<div class="input-group-prepend">
														<button class="btn btn-primary" type="button"
															data-toggle="modal" data-target="#movieSelectModal"> 🔍 검색 </button>
													</div>
													<input type="number" class="form-control" name="movieAndScreening" hidden="true" required>
													<input type="text" class="form-control" name="movieName" readonly required>
													<div class="invalid-feedback">상영할 영화를 선택해 주세요.</div>
													<div class="input-group-append">
														<button class="btn btn-danger" type="button"
															 th:onclick="javascript:emptySelectedMovie()"> 🗑 비우기</button>
													</div>
												</div>
											</td>
										</tr>
										<tr>
											<td class="col-md-3">상영관</td>
											<td class="col-md-9" colspan="3">
												<select class="custom-select" id="theater" name="theater" required>
													<option value="1">프리미엄 1관</option>
													<option value="2">프리미엄 2관</option>
													<option value="3">일반 1관</option>
													<option value="4">일반 2관</option>
													<option value="5">일반 3관</option>
													<option value="6">일반 4관</option>
												</select>
												<div class="invalid-feedback">영화를 상영할 상영관을 선택해 주세요.</div>
											</td>
										</tr>
										<tr>
											<td class="col-md-3">상영 시작시간</td>
											<td class="col-md-9">
												<input type="datetime-local" class="form-control" name="screeningStart" onchange="calculateEndTime()" required>
												<div class="invalid-feedback">영화의 상영 시작시간을 입력해 주세요.</div>
											</td>
										</tr>
										<tr>
											<td class="col-md-3">상영 종료시간</td>
											<td class="col-md-9">
												<input type="datetime-local" class="form-control" name="screeningEnd" required>
												<div class="invalid-feedback">영화의 상영 종료시간을 입력해 주세요.</div>
											</td>
										</tr>
									</tbody>
								</table>
								
							</form>
						</div>
						<div class="card-footer py-3">
							<button type="button" class="btn btn-secondary" th:onclick="history.back(-1)">목록으로</button>
							<button type="submit" class="btn btn-primary" form="schedule-info">등록하기</button>
						</div>
					</div>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<div th:include="common/footer.html"></div>

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->


	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready
					to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="login.html">Logout</a>
				</div>
			</div>
		</div>
	</div>
	
	
	<!-- Related Movie Select Modal -->
	<div class="modal fade" id="movieSelectModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="modalLabel">관련영화 선택</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">X</span>
					</button>
				</div>
				<div class="modal-body">
					<table class="table table-sm table-bordered table-hover" id="movieTable" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>코드</th>
								<th>영화제목</th>
								<th>개봉일자</th>
								<th>러닝타임</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="movie : ${ movieList }" th:onclick="|javascript:selectMovie(this)|">
								<td th:text="${ movie.code }"></td>
								<td>
									<a th:text="${ movie.name }">
									</a>
								</td>
								<td th:text="${ movie.openingDate }"></td>
								<td th:text="${ movie.runningTime }"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="/js/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>

	<!-- Page level plugins -->
	<script src="/js/jquery.dataTablesDefault.min.js"></script>
	<script src="/js/dataTables.bootstrap4.min.js"></script>

	<!-- Page level custom scripts -->
	<script>
		const flashMessage = "[[${ flashMessage }]]";
		console.log(flashMessage);

		if (flashMessage) {
			alert(flashMessage);
		}
	</script>
	
	<script>
		$(document).ready(function () {
			$('#movieTable').DataTable({
				language: {
					url: '/i18n/ko.json'
				},
				"order": [2, 'desc'],	/* 개봉일자 속성 기준으로 내림차순(최신순) */
				"autoWidth": false
			}
			);
		});
	</script>
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			var calendarEl = document.getElementById('calendar');
			
			var calendar = new FullCalendar.Calendar(calendarEl, {
				schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
				initialView: 'resourceTimelineDay',
				locale: 'ko',
				contentHeight: 'auto',
				initialDate: '2021-12-09',
				scrollTime: currTime,
				views: {
					resourceTimelineDay: {
						slotDuration: "00:10"
					}
				},
				resourceAreaWidth: '35%',
				resourceAreaColumns: [
					{
						headerContent: '종류',
						field: 'type',
						group: true
					},
					{
						headerContent: '상영관',
						field: 'theater'
					},
					{
						headerContent: '좌석수',
						field: 'occupancy'
					}
				],
				resources: [
					{id: '1', type: '프리미엄 상영관', theater: '프리미엄 1관', occupancy: '24'},
					{id: '2', type: '프리미엄 상영관', theater: '프리미엄 2관', occupancy: '24'},
					{id: '3', type: '일반 상영관', theater: '일반 1관', occupancy: '280'},
					{id: '4', type: '일반 상영관', theater: '일반 2관', occupancy: '280'},
					{id: '5', type: '일반 상영관', theater: '일반 3관', occupancy: '150'},
					{id: '6', type: '일반 상영관', theater: '일반 4관', occupancy: '150'}
				],
				events: [
					$.ajax({
						url: "/theater/schedule/screening/drawCalendar",
						type: "GET",
						success: function(data) {
							
							scheduleList = data;
							
							for (let i = 0; data.length; i++) {
								
								calendar.addEvent({
									id: data[i].code,
									resourceId: data[i].theater.code,
									title: data[i].movieAndScreening.name,
									start: data[i].screeningStart,
									end: data[i].screeningEnd,
									backgroundColor : colorPallet[Math.floor(Math.random()*14)]
								})
							}
						},
						error: function(xhr) {
							console.log(xhr);
						}
					})
				]
			});
			calendar.render();
		});
	</script>
	<script>
		var today = new Date();
		var currTime = ('0' + today.getHours()).slice(-2) + ":" + ('0' + today.getMinutes()).slice(-2);
		
		var movieRunningTime;
		
		var startInput = document.getElementsByName('screeningStart')[0];
		var endInput = document.getElementsByName('screeningEnd')[0];
		
		setScreeningStartAsCurrentTime(today);
		
		var colorPallet = ['#008C8C', '#0A9696', '#14A0A0', '#1EAAAA', '#28B4B4', '#32BEBE', '#37C3C3', '#3CC8C8', '#41CDCD', '#46D2D2', 
			'#008080', '#0A8A8A', '#149494', '#1E9E9E', '#28A8A8', '#32B2B2', '#37B7B7', '#3CBCBC', '#41C1C1', '#46C6C6'];
		
		/* 관련영화 선택 모달창에서 영화 선택 */
		function selectMovie(object) {
			
			var selectedMovieCode = object.children[0].innerText;
			var selectedMovieName = object.children[1].innerText;
			var selectedMovieRuntime = object.children[3].innerText;
			
			movieRunningTime = selectedMovieRuntime;
			
			document.getElementsByName('movieAndScreening')[0].value = selectedMovieCode;
			document.getElementsByName('movieName')[0].value = selectedMovieName + " (" + movieRunningTime + "분)";
			
			console.log('you picked : (' + document.getElementsByName('movieAndScreening')[0].value + ')'
					+ document.getElementsByName('movieName')[0].value
					+ " " + movieRunningTime + "min");
			
			calculateEndTime();
			$('#movieSelectModal').modal('hide');
		}
		
		/* 선택된 관련영화 지우기 */
		function emptySelectedMovie() {
			document.getElementsByName('movieAndScreening')[0].value = '';
			document.getElementsByName('movieName')[0].value = '';
			movieRunningTime = 0;
		}
		
		/* 상영 종료 시간 계산하기 */
		function calculateEndTime() {
			
			let calculatedEndDate = new Date(Date.parse(startInput.value) + movieRunningTime * 60 * 1000);
			
			endInput.value = convertDateToDatetimeLocal(calculatedEndDate);
		}
		
		/* 화면 onload시 상영 시작시간을 현재 시간으로 초기화 */
		function setScreeningStartAsCurrentTime(today) {
			
			startInput.value = convertDateToDatetimeLocal(today);
		}
		
		/* Date 타입 날짜를 datetime-local 타입에 맞는 String 타입으로 변환 */
		function convertDateToDatetimeLocal(date) {
			
			let yearPiece = date.getFullYear();
			
			let monthPiece = date.getMonth() + 1;
			if (monthPiece < 10) {monthPiece = "0" + monthPiece;}
			
			let datePiece = date.getDate();
			if (datePiece < 10) {datePiece = "0" + datePiece;}
			
			let hourPiece = date.getHours();
			if (hourPiece < 10) {hourPiece = "0" + hourPiece;}
			
			let minutePiece = date.getMinutes();
			if (minutePiece < 10) {minutePiece = "0" + minutePiece;}
			
			return yearPiece + "-" + monthPiece + "-" + datePiece + "T" + hourPiece + ":" + minutePiece;
		}
		
		/* Bootstrap Validation */
		(function() {

			// Fetch all the forms we want to apply custom Bootstrap validation styles to
			var forms = document.querySelectorAll('.needs-validation');

			// Loop over them and prevent submission
			Array.prototype.slice.call(forms).forEach(function(form) {
				form.addEventListener('submit', function(event) {
					if (!form.checkValidity()) {
						event.preventDefault();
						event.stopPropagation();
					}
					
					form.classList.add('was-validated');
				}, false)
			})
		})()
	</script>
</body>
</html>