<!DOCTYPE html>
<html
	lang="ko"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EGV</title>

    <!-- Custom fonts for this template-->
    <link href="css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">	
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    
    <script src="https://kit.fontawesome.com/56b47e1b72.js" crossorigin="anonymous"></script>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <div id="sidebarMain" class="bg-gradient-info" th:include="common/aside.html"></div>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <div th:include="common/header.html"></div>

                <!-- Begin Page Content -->
                <div class="container-fluid">


				<h1 align="Center">근무근태관리</h1>
				<form action="/emp/work/modify" method="post">
				  <div class="mb-3">
				    <label class="form-label">근무코드</label>
				    <input type="text" class="form-control" th:field="*{work.code}" th:value="*{work.code}" name="code" readonly>
				  </div>
				  <div class="mb-3">
				    <label class="form-label">근무항목</label>
				    <input type="text" class="form-control" th:field="*{work.categoryCode.type}" th:value="*{work.categoryCode.type}" name="type" readonly>
				  </div>
				  <div class="mb-3">
				    <label class="form-label">사번</label>
				    <input type="text" class="form-control" th:field="*{work.empCode.code}" th:value="*{work.empCode.code}" name="empCode" readonly>
				  </div>
				  <div class="mb-3">
				    <label class="form-label">사원</label>
				    <input type="text" class="form-control" th:field="*{work.empCode.name}" th:value="*{work.empCode.name}" name="empName" readonly>
				  </div>
				  <div class="mb-3">
				    <label class="form-label">근무일자</label>
				    <input type="text" class="form-control" th:value="${#dates.format(new java.util.Date(work.workDate), 'yyyy-MM-dd')}" name="workDate" readonly>
				  </div>
				  <div class="mb-3">
				    <label class="form-label">근무시작시간</label>
				    <input type="text" class="form-control" th:value="${#dates.format(new java.util.Date(work.workStart), 'yyyy-MM-dd HH:mm')}" name="workStart" readonly>
				  </div>
				  <div class="mb-3">
				    <label class="form-label">근무종료시간</label>
				    <input type="text" class="form-control" th:field="*{work.workEnd}" th:value="*{work.workEnd}" name="workEnd" readonly>
				  </div>
				  <div class="mb-3">
				    <label class="form-label">초과근무시간</label>
				    <input type="text" class="form-control" th:field="*{work.workOver}" th:value="*{work.workOver}" name="workOver">
				  </div>
				  <br>
				  <button type="submit" class="btn btn-primary">변경하기</button>
				</form>

            	</div>
            	<!-- End of Main Content -->
			</div>
            <!-- Footer -->
            <div th:include="common/footer.html"></div>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript -->
    <script src="/js/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages -->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/chart-area-demo.js"></script>
    <script src="/js/chart-pie-demo.js"></script>

</body>

</html>