<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/56b47e1b72.js" crossorigin="anonymous"></script>
<title>EGV: Login</title>
<style>
div>button, input[type=submit] {
	width: 410px;
	margin-top: 10px;
}
</style>
</head>
<body>
<script>
	if("[[${ param.error }]]" == "fail") {
		alert("아이디 또는 패스워드가 일치하지 않습니다. 다시 로그인 시도해주세요");
	}
</script>

<div style="text-align: center; margin-top: 150px; margin-bottom: 40px;">
    <a onclick="location.href='/emp/login'"><img src="/img/egv_icon.PNG" style="width: 200px; height: 80px; margin-left: 20px;"/></a>
</div>


	<form action="/emp/login" method="post" id="loginForm">
		<table align="center">
			<tr>
				<td>
					<div class="input-group mb-3 input-group-lg">
						<div class="input-group-prepend">
							<span class="input-group-text" style="width:150px"> <i class="fas fa-home" style="margin-right: 10px;"></i>사번</span>
						</div>
						<input required="required" type="text" class="form-control" name="username"><!-- 시큐리티에서는 반드시 username으로 name값 설정 -->
					</div>
				</td>
				<td rowspan="2"></td>
			</tr>
			<tr>
				<td>
					<div class="input-group mb-3 input-group-lg">
						<div class="input-group-prepend">
							<span class="input-group-text" style="width:150px;"> <i class="fas fa-user" style="margin-right: 10px;"></i> 비밀번호</span>
						</div>
						<input required="required" type="password" class="form-control" name="password"><!-- 시큐리티에서는 반드시 password으로 name값 설정 -->
					</div>
				</td>

			</tr>
		</table>
	</form>
	
	
	<div align="center">
		<input type="submit" value="로그인" class="btn btn-success">
		<br>
		<div style="margin-left: 210px; margin-top: 15px">
			<a onclick="location.href='/emp/findid'" style="text-decoration: underline;">사번 찾기</a>&nbsp;  
			<a onclick="location.href='/emp/pwreset'" style="text-decoration: underline;">비밀번호 초기화</a>
		</div>
	</div>
	
	<script>
		$(function(){
			$("input[name=username]").focus();
			
			$("input[type=submit]").click(function(){
				const param = {
						name : $("#username").val(),
					 	pwd : $("#password").val()
					}
				if(param.name != "" && param.pwd != "" ) {
					$("#loginForm").submit();					
				} else {
					alert("해당 내용을 전부 입력해주세요");
				}
			});
		})
	</script>
</body>
</html>
