<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

<script src="https://kit.fontawesome.com/56b47e1b72.js" crossorigin="anonymous"></script>
<title>Insert title here</title>
</head>
<body>
<script>
	if("[[${ param.error }]]" == "fail") {
		alert("일치하는 사원이 없습니다.");
	}
</script>

<div style="text-align: center; margin-top: 150px; margin-bottom: 40px;">
    <a onclick="location.href='/emp/login'"><img src="/img/egv_icon.PNG" style="width: 200px; height: 80px; margin-left: 20px;"/></a>
    <h2 style="margin-top: 20px;">비밀번호 초기화</h2>
</div>

<div id="main">
	<table align="center">
		<tr>
			<td>
				<div class="input-group mb-3 input-group-lg">
					<div class="input-group-prepend">
						<span class="input-group-text" style="width:150px"> <i class="fas far fa-address-card" style="margin-right: 10px;"></i>사번</span>
					</div>
					<input type="text" class="form-control" id="code" name="code" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
				</div>
			</td>
			<td rowspan="2"></td>
		</tr>
		<tr>
			<td>
				<div class="input-group mb-3 input-group-lg">
					<div class="input-group-prepend">
						<span class="input-group-text" style="width:150px"> <i class="fas fa-user" style="margin-right: 10px;"></i>성명</span>
					</div>
					<input type="text" class="form-control" id="name" name="name">
				</div>
			</td>
			<td rowspan="2"></td>
		</tr>
		<tr>
			<td>
				<div class="input-group mb-3 input-group-lg">
					<div class="input-group-prepend">
						<span class="input-group-text" style="width:150px;"> <i class="fas fa-calendar-day" style="margin-right: 10px;"></i>생년월일</span>
					</div>
					<input type="date" class="form-control" id="birth" name="birth">
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="input-group mb-3 input-group-lg">
					<div class="input-group-prepend">
						<span class="input-group-text" style="width:150px;"> <i class="fas fa-envelope" style="margin-right: 10px;"></i>이메일</span>
					</div>
					<input type="text" class="form-control" id="email" name="email"><!-- 시큐리티에서는 반드시 password으로 name값 설정 -->
				</div>
			</td>
		</tr>
	</table>
	
	<div align="center" style="margin-top: 10px;">
			<input id="subbtn" style="width: 200px;" type="submit"  value="확인" class="btn btn-success col-xs-1"> &nbsp; 
			<input style="width: 200px;" type="button" value="로그인" class="btn btn-secondary col-xs-1" onclick="location.href='/emp/login'">
	</div>
</div>

	<div id="add" style="text-align: center; margin-left: auto; margin-right: auto;">
		<table class="table table-bordered w-auto" align="center" style="table-layout: fixed">
			<thead>
				<tr>
		        	<th style="width: 350px;">사번</th>
		        	<th style="width: 350px;">초기화 비밀번호</th>
		    	</tr>
			</thead>
		    <tbody>
		    	<tr>
		        	<td id="empcode"></td>
		        	<td id="repw"></td>
		    	</tr>
		    </tbody>
		</table> 
		<p> *초기 비밀번호는 사번+생년월일입니다. </p>
		<p> *비밀번호 초기화 후에는 꼭 비밀번호를 변경해 주세요. </p>
		  
		
		<div align="center" style="margin-top: 35px;">
			<input style="width: 400px;" type="button" value="로그인" class="btn btn-secondary col-xs-1" onclick="location.href='/emp/login'">  
		</div>
		
	</div>
	

	
	<script>
		$(function(){
			$("input[name=code]").focus();
			$("#add").hide();
		})
		
		
		$("#subbtn").click(function() {
			const param = {
					code : $("#code").val(),
					name : $("#name").val(),
				 	birth : $("#birth").val(),
				 	email : $("#email").val()
				}
			
			if(param.code != "" && param.name != "" && param.birth != "" && param.email != "") {
				$.ajax({
	  				url: "repw",
	  				type: "post",
	  				data: param,
	  				success: function(data) {
	  					if(data == null) {
	  						alert("입력하신 정보와 일치하는 사원이 없습니다.");
	  					} else {
	  						$("#empcode").text(data.code);
	  						$("#repw").text(data.code + data.rrn.substring(0,6));
	  						$("#add").show();
	  						$("#main").hide();
	  					}
	  					
	  				},
	  				error: function(request, status, error){
	  					alert("code:" + request.status + "\n" 
	  							+ "message:" + request.responseText + "\n"
	  							+ "error:" + error);
	  				}
	  			});	   
			} else {
				alert("해당 내용을 전부 입력해주세요");
			}
			
        	           
		});
	</script>
</body>
</html>
