<!DOCTYPE html>
<html
	lang="ko"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

<meta charset="UTF-8">
<title>프로필 사진 입력기</title>
    <!-- Custom fonts for this template-->
    <link href="/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    
    <script src="https://kit.fontawesome.com/56b47e1b72.js" crossorigin="anonymous"></script>
<style type="text/css">
   button {
     height:50%;
     vertical-align: middle;
     transform: translateY(50%);
     }
</style>
    <!--  Date : 2021/11/29
	 	  Writer : Hansoo Lee
	
    프로필사진 입력 메소드가 실행 종료 메세지의 유무를 확인후
    부모창 페이지이동과 자신의 창을 닫는 메소드가 실행된다. -->
	<script> 
		const successMessage = "[[${ message }]]";	 
		 
		if(successMessage){ 
			alert(successMessage); 
		 	opener.location.href="/emp/list";  
		    window.close(); 
		} 
	</script> 
</head>
<body>
	<div align="Center">
	<h3 th:text="${empInfor.name}+'님의 프로필사진'"></h3>
		<div class="card" style="width: 180px; height: 200px; overflow: hidden; text-align: center;">
 		 	  <img th:unless="${#strings.isEmpty(empInfor.profileImgName)}" class="upload" id="upload_thumb" th:src="|/profileImg/${empInfor.profileUuidName}|" style="width: 180px; height: auto;" alt="profilePic"> 
		 	  <img th:if="${#strings.isEmpty(empInfor.profileImgName)}" class="upload" id="upload_thumb" src="/profileImg/noImage.PNG" style="width: 180px; height: auto;" alt="profilePic"> 
		</div> 
			<form action="/emp/profilePicInsert" id="submitForm" class="needs-validation" method="post" encType="multipart/form-data" novalidate> 
	            <input type="hidden" class="form-control" th:field="*{empInfor.code}">
	            <input class="form-control" type="file" name="proPicThumb" id="proPicThumb" onChange="proPicPreview();" hidden accept="image/*" required> 
	                <div class="invalid-feedback"> 
				     새로운 프로필 사진을 넣어주세요 
				    </div> 
	            <br>
	 		 	<label for="proPicThumb" class="btn btn-success" style="position: relative; top: -15px;">파일선택</label>
		     	<button class="btn btn-primary" type="submit" style="position: relative; top: -38px;">프로필 사진등록</button>
	     	</form>
	     </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript -->
    <script src="/js/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages -->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->

    <!-- Page level custom scripts -->
    
    
<script>
function proPicPreview() {


	let fileInfo = document.getElementById("proPicThumb").files[0];

	let reader = new FileReader();

	  reader.onload = function() {

	      document.getElementById("upload_thumb").src = reader.result;

	  };

	if( fileInfo ) {

	      reader.readAsDataURL( fileInfo );

	  }

	}
	
(function () { 
	  'use strict' 

	  // Fetch all the forms we want to apply custom Bootstrap validation styles to 
	  var forms = document.querySelectorAll('.needs-validation') 

	  // Loop over them and prevent submission 
	  Array.prototype.slice.call(forms) 
	    .forEach(function (form) { 
	      form.addEventListener('submit', function (event) { 
	        if (!form.checkValidity()) { 
	          event.preventDefault() 
	          event.stopPropagation() 
	        } 

	        form.classList.add('was-validated') 
	      }, false) 
	    }) 
	})() 
</script>
    
    
</body>
</html>