<!DOCTYPE html>
<html
	lang="ko"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EGV</title>

    <!-- Custom fonts for this template-->
    <link href="css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    
    <link href="/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    
    <script src="https://kit.fontawesome.com/56b47e1b72.js" crossorigin="anonymous"></script>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <div id="sidebarMain" class="bg-gradient-info" th:include="common/aside.html"></div>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <div th:include="common/header.html"></div>

                <!-- Begin Page Content -->
                <div class="container-fluid">

					<!-- DataTales -->
					<div class="card mb-4">
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="leaveTable" cellspacing="0">
									<thead>
										<tr>
											<th>사용연가코드</th>
											<th>사원</th>
											<th>연차카테고리</th>
											<th>시작일</th>
											<th>종료일</th>
											<th>총 사용일수</th>
											<th>연차 내용</th>
										</tr>
									</thead>
									<tbody>
									<tr th:each="leave : ${ usedLeave }">
	 										<td th:text="${ leave.code }"></td>
			                              	 <td th:text="${ leave.empCode.name }"></td>
			                                 <td th:text="${ leave.categoryCode.type }"></td>
			                                 <td th:text="${ #dates.format(new java.util.Date(leave.start), 'yyyy년MM월dd일') }"></td>
			                                 <td th:text="${ #dates.format(new java.util.Date(leave.end), 'yyyy년MM월dd일') }"></td>
			                                 <td th:text="${ leave.total }"></td>
			                                 <td th:text="${ leave.content }"></td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
							<div class="card-footer py-3">
							<!-- 부서 등록 버튼 (모달 사용) -->
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addDeptModal">연가 추가</button>
						</div>
					</div>
            	<!-- End of Main Content -->
			</div>
        </div>
            <!-- Footer -->
            <div th:include="common/footer.html"></div>
            <!-- End of Footer -->
        <!-- End of Content Wrapper -->
	</div>
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal -->
	<div class="modal fade" id="addDeptModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">연가 등록</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">×</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form action="/emp/Leave/add" method="post">
			  <div class="form-group">
			    <label for="categoryCodeinput">연가 카테고리</label>
			    <select class="custom-select custom-select-lg mb-3" name="category">
				  <option selected>연가의 형태를 선택해주세요.</option>
				  <option value="1">병가</option>
				  <option value="2">경조사</option>
				  <option value="3">출산</option>
				  <option value="3">휴가</option>
				</select>
			  </div>
			  <div class="form-group">
			    <label for="empCodeinput">사번</label>
			    <input type="text" class="form-control" aria-describedby="description" th:value="${emp.code}" name="employeeCode" readonly>
			  </div>
			  <div class="form-row">
				<div class="form-group col-md-6">
				<div class="form-group">
				<label for="start" class="form-label">휴가 시작일자</label>
				<input type="date" class="form-control" id="startDate" name="startDate">
				</div>
				</div>
				<div class="form-group col-md-6">
				<div class="form-group">
				<label for="end" class="form-label">휴가 종료일자</label>
				<input type="date" class="form-control" id="endDate" name="endDate">
				</div>
				</div>
				</div>
				<div class="form-group">
			    <label for="formGroupExampleInput2">총 사용일수</label>
			    <input type="text" class="form-control" name="total" placeholder="">
			  </div>
		      <div class="form-group">
			    <label for="formGroupExampleInput2">사유(내용)</label>
			    <input type="text" class="form-control" name="content" placeholder="">
			  </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
		        <button type="submit" class="btn btn-primary">등록</button>
		      </div>
			</form>
	      </div>
	    </div>
	  </div>
	</div>

    <!-- Bootstrap core JavaScript-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript -->
    <script src="/js/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages -->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
	<script src="/js/jquery.dataTables.min.js"></script>
	<script src="/js/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
	<script src="/js/demo/datatables-demo.js"></script>
	
	<!-- Page level custom scripts -->
	<script>
		$(document).ready(function() {
			$('#leaveTable').DataTable({
				language: {
					url: '/i18n/ko.json'
				},
				"order" : [ 0, "asc" ]	
			}
			);
		});
	</script>
	

</body>

</html>