<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description"
	content="Main page of theater management, displaying list of movies.">
<meta name="author" content="leesunmin">
<title>EGV</title>
<!-- Custom fonts for this template-->
<link href="/css/all.min.css" rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">
<link href="/css/dataTables.bootstrap4.min.css" rel="stylesheet">

<!-- Custom styles for this template-->
<script src="https://kit.fontawesome.com/56b47e1b72.js"
	crossorigin="anonymous"></script>
	
<style>
   table {
       text-align: center;
   }
   #lefttd {
       text-align: left;
   }
   #apptemp, #signtemp > table {
   		margin-left: auto;
   		margin-right: auto;
   		width: 800px;
   		margin-bottom: 30px;
   }
   #actiondiv {
   		margin-left: auto;
   		margin-right: auto;
   		margin-bottom: -20px;
   		max-width: 800px;
   		text-align: right;
   }
   #commentdiv  {
   		margin-left: auto;
   		margin-right: auto;
   		width: 800px;
   		margin-bottom: 20px;
   		text-align: center;
   } 
   #commentdiv2 {
   		margin-left: auto;
   		margin-right: auto;
   		width: 800px;
   		margin-bottom: 20px;
   } 
   
   
   textarea {
   		width: 650px; 
   		height:80px; 
   		margin-right: 25px;
   		resize: none;
   		placeholder:"내용을 입력해 주세요.";
   }
   
</style>
</head>
<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Aside Menu List -->
		<div id="sidebarMain" class="bg-gradient-info"
			th:include="common/aside.html"></div>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Header -->
				<div th:include="common/header.html"></div>

				<!-- Begin Page Content -->
				<div class="container-fluid">
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">[[${ sign.title }]]</h6>
						</div>
						<div class="card-body">
						
							<div class="col-3" id="actiondiv">
								<button id="canclebtn" class="btn btn-danger" th:if="${ status == '재기안' }" th:onclick="|location.href='/sign/detail/resign?code=${sign.code}'|">재기안</button>
								<button id="canclebtn" class="btn btn-danger" th:if="${ status == '기안' }" th:onclick="|location.href='/sign/detail/cancle?code=${sign.code}'|">기안 취소</button>
								<button id="approvalbtn" class="btn btn-success" th:if="${ status == '대기'}" th:onclick="|location.href='/sign/detail/approval?code=${sign.code}'|">승인</button>
								<button id="returnbtn" class="btn btn-danger" th:if="${ status == '대기' }" th:onclick="|location.href='/sign/detail/return?code=${sign.code}'|">반려</button>
							</div>
						
							<div style="margin-top: 50px;">
								<table id="apptemp" border="solid: 1px">
									<colgroup>
										<col width = "12%">
										<col width = "15%">
										<col width = "12%">
										<col width = "15%">
										<col width = "15%">
										<col width = "15%">
									</colgroup>

								
							        <thead style="height: 40px;">
							            <td scope="col">문서코드</td>
							            <td scope="col" id="lefttd" th:text="${ sign.code }"></td>
							            <td scope="col" colspan="2">기안일자</td>
							            <td scope="col" id="lefttd" colspan="3" th:text="${ sign.date }" ></td>
							        </thead>
							        <tbody>
							            <tr>
							                <td rowspan="3">기안</td>
							                <td style="height: 30px;"> [[${ sign.employee.empPosition }]]</td>
							                <td rowspan="3">결재</td>
							                <span class="parent" th:each="app:${sign.approver}">
							                	<td class="parent" th:text="${app.emp.empPosition}"></td>	
							                </span>
							            </tr>
							            <tr>
							                <td style="height: 70px;"> <img th:src="|/stamp-img/${ sign.employee.stampUuidName }|" style="height: 100px;"> </td>
							                <span th:each="app:${sign.approver}">
							                	<td style="height: 100px;"> <img th:if="${app.status == '승인'}" th:src="|/stamp-img/${ app.emp.stampUuidName }|" style="height: 100px;"> <img th:if="${app.status == '반려'}" src="/stamp-img/반려.svg" style="height: 100px;"> </td>	
							                </span>
							            </tr>
							            <tr>
							                <td style="height: 30px;"> [[${ sign.employee.name }]] <p style="margin-bottom: 0px; font-size: 7px;" th:text="${#dates.format(sign.date, 'yyyy-MM-dd HH:mm')}"></p> </td>
							                <span th:each="app:${sign.approver}">
							                	<td> [[${app.emp.name}]] <p style="margin-bottom: 0px; font-size: 7px;" th:text="${#dates.format(app.date, 'yyyy-MM-dd HH:mm')}"></p> </td>	
							                </span>
							            </tr>
							        </tbody>
							        <tfoot>
							            <tr>
							                <td style="height: 40px;">참조</td>
							                <td id="lefttd" colspan="10">
								                <span th:each="ref:${sign.refferrer}">
								                	[[${ref.emp.name}]], &nbsp;
								                </span>
							                </td>
							            </tr>
							        </tfoot>
							    </table>
							</div>
							
							<!-- 타임리프에서 태그포한된 text를 읽고 싶을 때는 utext를 사용한다. -->
							<div>
								<div id="signtemp" th:utext="${ sign.contents }"></div>
							</div>
							
							
							<div id="commentdiv">
								<h3 style="text-align: left; margin-left: 20px;">첨언 작성</h3>
								<textarea id="comment" name="comment"></textarea>
								<button id="subbtn" class="btn btn-outline-dark" style="margin-top: -70px;">작성하기</button>
								
							</div>
							
							<div id="commentdiv2">
								<span th:each="com:${ sign.comment }">
									<span th:id="|comment${ com.code }|">
										[[|${ com.emp.empPosition } ${ com.emp.name } &nbsp;&nbsp; |]] &nbsp; 
										<span th:text="${#dates.format(com.date, 'yyyy-MM-dd HH:mm')}"></span> &nbsp; &nbsp;
										<button style="height: 35px;" class="btn btn-outline-dark" type="button" th:onclick="|btn_click(${ com.code })|" th:if="${ com.emp.code } == ${ #authentication.name }">
											삭제
										</button>
										<p th:text="${ com.contents }"></p>
										<hr style="margin-top: -10px;">
									</span>
								</span>
								<div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<div th:include="common/footer.html"></div>

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->


	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready
					to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="login.html">Logout</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="/js/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>

	<!-- Page level plugins -->
	<script src="/js/jquery.dataTablesDefault.min.js"></script>
	<script src="/js/dataTables.bootstrap4.min.js"></script>

	<script>
		$(document).ready(function() {
			$('#tempTable').DataTable({
				language: {
					url: '/i18n/ko.json'
				},
				"order" : [ 1, 'desc' ]
			}
			);
		});
	</script>
	
	<script>
		function btn_click(a) {
			const param = {
				 	code : a
				}
			
			$.ajax({
  				url: "delete",
  				type: "get",
  				data: param,
  				success: function(data) {
  					var asd = '#comment' + data;
  					
  					const comdiv = $(asd);
  					comdiv.remove();
  					
  				},
  				error: function(request, status, error){
  					alert("code:" + request.status + "\n" 
  							+ "message:" + request.responseText + "\n"
  							+ "error:" + error);
  				}
  			});	        
			
			
			
		} 
	
		$("#subbtn").click(function() {
			const param = {
					comment : $("#comment").val(),
				 	code : "[[${ sign.code }]]"
				}
			
			if(param.comment != "") {
				$.ajax({
	  				url: "comment",
	  				type: "post",
	  				data: param,
	  				success: function(data) {
	  					
	  					$("#comment").val("");
	  					
	  					var now = new Date();
	  					var hour = now.getHours();
	  					var minutes = now.getMinutes();
	  					
	  					var spanid = "<span id='comment" + data.code + "'>"
	  					var btnid = "<button class='btn btn-outline-dark' onclick='btn_click(" + data.code + ")'>";
	  					const comdiv = $("#commentdiv2 div");
	  					plusdiv = $(spanid);
	  					plusdiv.html(data.emp.empPosition + "\u00a0" + data.emp.name + "\u00a0\u00a0\u00a0" + data.date + "\u00a0\u00a0"  + hour + ":" + minutes + "\u00a0\u00a0\u00a0");
	  					comdiv.append(plusdiv);
	  					
	  					a = $(btnid).text("삭제")
	  					p = $("<p>").text(data.contents);
	  					
	  					plusdiv.append(a);
	  					plusdiv.append(p);
	  					
	  				},
	  				error: function(request, status, error){
	  					alert("code:" + request.status + "\n" 
	  							+ "message:" + request.responseText + "\n"
	  							+ "error:" + error);
	  				}
	  			});	        
			} else {
				alert("내용을 입력해주세요");
			}
        	      
		});
	</script>
	
	<script type="text/javascript">
	function is_valid_date(date_str)
	{
	    var yyyyMMdd = String(date_str);
	    var year = yyyyMMdd.substring(0,4);
	    var month = yyyyMMdd.substring(4,6);
	    var day = yyyyMMdd.substring(6,8);

	    if (!is_number(date_str) || date_str.length!=8)
	        return false;

	    if (Number(month)>12 || Number(month)<1)
	        return false;

	    if (Number(last_day(date_str))<day)
	        return false;

	    return true;
	}
	
	
	</script>
	
	
</body>
</html>